[submodule "sim/00-getting-stated-asm"]
	path = sim/00-getting-stated-asm
	url = git@github.com:DC-UFSCar/getting-started-asm.git
[submodule "sim/01-register-memory"]
	path = sim/01-register-memory
	url = git@github.com:DC-UFSCar/register-memory.git
[submodule "sim/02-rf-test-bench"]
	path = sim/02-rf-test-bench
	url = git@github.com:DC-UFSCar/rf-test-bench.git
[submodule "labs/02-decode-game"]
	path = labs/02-decode-game
	url = https://github.com/DC-UFSCar/decode-game.git
[submodule "sim/03-string-asm"]
	path = sim/03-string-asm
	url = git@github.com:DC-UFSCar/string-asm.git
[submodule "sim/04-riscv-alu"]
	path = sim/04-riscv-alu
	url = git@github.com:DC-UFSCar/riscv-alu.git
[submodule "sim/05-riscv-mono"]
	path = sim/05-riscv-mono
	url = git@github.com:DC-UFSCar/riscv-mono.git
[submodule "sim/07-riscv-multi"]
	path = sim/07-riscv-multi
	url = git@github.com:DC-UFSCar/riscv-multi.git
